[submodule "symfony-docker-deployment"]
	path = symfony-docker-deployment
	url = https://github.com/katekate7/symfony-docker-deployment.git
[submodule "react-docker-deployment"]
	path = react-docker-deployment
	url = https://github.com/katekate7/react-docker-deployment.git
